.bg-dark-aiwork {
  background-color: rgb(0, 133, 178) !important;
}

/* Links */
.navbar .nav-link {
  color: #bfbfbf !important;
}

.navbar .nav-link:hover {
  color: #ffffff !important;
}

/* Navbar visual e espaçamento */
.navbar {
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Inter', 'Poppins', sans-serif;
}

/* Hamburguer (modo mobile) */
.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}

.nav-blur-box {
  background: rgba(0, 0, 0, 0.25);        /* Fundo translúcido */
  backdrop-filter: blur(15px) saturate(140%);
  -webkit-backdrop-filter: blur(15px) saturate(140%);
  border-radius: 50px;                    /* Bordas arredondadas estilo “pílula” */
  padding: 6px 20px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08); /* leve borda interna */
}

.dropdown-menu {
  background-color: rgb(0, 133, 178) !important;
  border: none !important;
  backdrop-filter: blur(10px);
}